a:hover{
    text-decoration: none;
}
.list{
    position: fixed;left:180px;top:100px;width: 280px;min-height: 300px;
}

.list>ul>li{
    width: 242px;height: 50px;border-radius: 5px;padding: 10px 15px;cursor: pointer;
}
.imgBox1{
    width: 32px;height: 30px;background: #A0A0A0;border-radius: 5px;padding: 10px;float: left;text-align: center;line-height: 10px;color: #fff;
}
.imgBox1 img{
    width: 100%;height: 100%;margin: auto;color: #fff;
}
.list>ul>li>span{
    float: left;margin-left: 20px;color: #2F2F2F;margin-top: 5px;
}
.list>ul>li:hover{
    background: #F0F0F0;
}
.selfCon{
    width: 700px;min-height: 400px;float: right;
}
.headImg{
    width: 100%;height:200px;
}
.headImg img{
    width: 100px;height: 100px;border-radius: 50%;border: 1px solid #ccc;float: left;margin-top: 60px;
}
.change{
    width: 80px;height: 30px;background: #fff;border-radius: 15px;border: 1px solid #75D460;color: #75D460;text-align: center;line-height: 30px;float: left;margin-top: 90px;margin-left: 50px;font-weight: 400;font-size: 15px;
}
form{
    width: 100%;height: auto;
}
form>.ul>.li{
    width: 100%;height: 80px;border-bottom: 1px solid #F0F0F0;
}
.liLeft{
    width: 20%;height: 100%;text-align: left;line-height: 80px;float: left;
}
.li>input{
    float: left;width: 280px;height: 35px;border: 1px solid #C8C8C8;border-radius: 5px;padding-left:10px ;margin-top: 22px;
}
form>input{
    outline: none;box-shadow: none;border: none;
    display: block;width: 100px;height: 30px;border-radius: 15px;margin: 50px auto;
    background: #42C02E;color: #fff;text-align: center;line-height: 30px;
}