<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{CSS_URL}/bootstrap.css">
    <title>showUserRole</title>
</head>
<style>
    th,td{
        text-align: center;
    }
    td>a{
        color: #333;
    }
    td>a:hover{
        text-decoration: none;color: #333;
    }
</style>
<body>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>id</th>
            <th>角色名称</th>
            <th>发布文章数量</th>
            <th>查看文章权限</th>
            <th>操作</th>
        </tr>
        {foreach $result as $v}
        <tr>
            <td>{$v['rid']}</td>
            <td>{$v['rname']}</td>
            <td>{$v['connum']}</td>
            <td>
                {if $v['conlevel']==1}
                普通
                {elseif $v['conlevel']==2}
                热门
                {else}
                精华
                {/if}
            </td>
            <td>
                <a href="index.php?m=admin&f=userRole&a=editUserRole&rid={$v['rid']}" class="btn btn-info btn-primary btn-sm">编辑</a>
                <a href="index.php?m=admin&f=userRole&a=delUserRole&rid={$v['rid']}" class="btn btn-danger btn-primary btn-sm">删除</a>
            </td>
        </tr>
        {/foreach}
    </table>
</div>
</body>
</html>