<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iframe的提示信息页</title>
</head>
<style>
    .box{
        width: 300px;height: 100px;position: fixed;left:0;right:0;top:0;bottom: 0;margin: auto;font-size: 30px;font-weight: 400;font-family: "黑体";color: #333;
    }
</style>
<body>
<div class="box">
    <span>请选择您要进行的操作</span>
</div>
</body>
</html>