{include file=$header}
    <link rel="stylesheet" href="{CSS_URL}/header.css">
    <link rel="stylesheet" href="{CSS_URL}/headerLogin.css">
    <link rel="stylesheet" href="{CSS_URL}/guanzhu.css">

<main>
    <div class="headBox"></div>
    <iframe src="index.php?m=index&f=index&a=guanzhuzhe" frameborder="0"></iframe>

    <div class="guanzhuRight">
        <div class="guanzhuRightSon">
            <div class="guanzhuRightSonTop">
                <img src="{IMG_URL}/header%20(6).jpg" alt="">
                <span>呆萌的老张看世界687</span>
                <span class="loveText">喜欢了文章</span>
                <span class="loveText">22分钟前</span>
            </div>
            <h4><a href="">疯子不一定是画家，但画家也许是“疯子”﻿</a></h4>
            <p>文／晖宗 赏绘画，读故事，晖宗聊绘画又和大家见面了。有时我们会谈论一些精神有问题的艺术家，比如西方的凡高，中国的徐渭。 觉得他们之所以能画出那么好的绘画，是因为他们的精神状况...</p>
            <h6>晖宗聊绘画</h6>
            <div class="iconfont icon-remen"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-pinglun"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-xihuan"></div>
            <h6 class="num">100</h6>
            <img src="{IMG_URL}/header%20(4).jpg" class="rightImg" alt="">
        </div>
    </div>
    <div class="guanzhuRight">
        <div class="guanzhuRightSon">
            <div class="guanzhuRightSonTop">
                <img src="{IMG_URL}/header%20(6).jpg" alt="">
                <span>呆萌的老张看世界687</span>
                <span class="loveText">喜欢了文章</span>
                <span class="loveText">22分钟前</span>
            </div>
            <h4><a href="">疯子不一定是画家，但画家也许是“疯子”﻿</a></h4>
            <p>文／晖宗 赏绘画，读故事，晖宗聊绘画又和大家见面了。有时我们会谈论一些精神有问题的艺术家，比如西方的凡高，中国的徐渭。 觉得他们之所以能画出那么好的绘画，是因为他们的精神状况...</p>
            <h6>晖宗聊绘画</h6>
            <div class="iconfont icon-remen"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-pinglun"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-xihuan"></div>
            <h6 class="num">100</h6>
            <img src="{IMG_URL}/header%20(4).jpg" class="rightImg" alt="">
        </div>
    </div>
    <div class="guanzhuRight">
        <div class="guanzhuRightSon">
            <div class="guanzhuRightSonTop">
                <img src="{IMG_URL}/header%20(6).jpg" alt="">
                <span>呆萌的老张看世界687</span>
                <span class="loveText">喜欢了文章</span>
                <span class="loveText">22分钟前</span>
            </div>
            <h4><a href="">疯子不一定是画家，但画家也许是“疯子”﻿</a></h4>
            <p>文／晖宗 赏绘画，读故事，晖宗聊绘画又和大家见面了。有时我们会谈论一些精神有问题的艺术家，比如西方的凡高，中国的徐渭。 觉得他们之所以能画出那么好的绘画，是因为他们的精神状况...</p>
            <h6>晖宗聊绘画</h6>
            <div class="iconfont icon-remen"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-pinglun"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-xihuan"></div>
            <h6 class="num">100</h6>
            <img src="{IMG_URL}/header%20(4).jpg" class="rightImg" alt="">
        </div>
    </div>
    <div class="guanzhuRight">
        <div class="guanzhuRightSon">
            <div class="guanzhuRightSonTop">
                <img src="{IMG_URL}/header%20(6).jpg" alt="">
                <span>呆萌的老张看世界687</span>
                <span class="loveText">喜欢了文章</span>
                <span class="loveText">22分钟前</span>
            </div>
            <h4><a href="">疯子不一定是画家，但画家也许是“疯子”﻿</a></h4>
            <p>文／晖宗 赏绘画，读故事，晖宗聊绘画又和大家见面了。有时我们会谈论一些精神有问题的艺术家，比如西方的凡高，中国的徐渭。 觉得他们之所以能画出那么好的绘画，是因为他们的精神状况...</p>
            <h6>晖宗聊绘画</h6>
            <div class="iconfont icon-remen"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-pinglun"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-xihuan"></div>
            <h6 class="num">100</h6>
            <img src="{IMG_URL}/header%20(4).jpg" class="rightImg" alt="">
        </div>
    </div>
    <div class="guanzhuRight">
        <div class="guanzhuRightSon">
            <div class="guanzhuRightSonTop">
                <img src="{IMG_URL}/header%20(6).jpg" alt="">
                <span>呆萌的老张看世界687</span>
                <span class="loveText">喜欢了文章</span>
                <span class="loveText">22分钟前</span>
            </div>
            <h4><a href="">疯子不一定是画家，但画家也许是“疯子”﻿</a></h4>
            <p>文／晖宗 赏绘画，读故事，晖宗聊绘画又和大家见面了。有时我们会谈论一些精神有问题的艺术家，比如西方的凡高，中国的徐渭。 觉得他们之所以能画出那么好的绘画，是因为他们的精神状况...</p>
            <h6>晖宗聊绘画</h6>
            <div class="iconfont icon-remen"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-pinglun"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-xihuan"></div>
            <h6 class="num">100</h6>
            <img src="{IMG_URL}/header%20(4).jpg" class="rightImg" alt="">
        </div>
    </div>
    <div class="guanzhuRight">
        <div class="guanzhuRightSon">
            <div class="guanzhuRightSonTop">
                <img src="{IMG_URL}/header%20(6).jpg" alt="">
                <span>呆萌的老张看世界687</span>
                <span class="loveText">喜欢了文章</span>
                <span class="loveText">22分钟前</span>
            </div>
            <h4><a href="">疯子不一定是画家，但画家也许是“疯子”﻿</a></h4>
            <p>文／晖宗 赏绘画，读故事，晖宗聊绘画又和大家见面了。有时我们会谈论一些精神有问题的艺术家，比如西方的凡高，中国的徐渭。 觉得他们之所以能画出那么好的绘画，是因为他们的精神状况...</p>
            <h6>晖宗聊绘画</h6>
            <div class="iconfont icon-remen"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-pinglun"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-xihuan"></div>
            <h6 class="num">100</h6>
            <img src="{IMG_URL}/header%20(4).jpg" class="rightImg" alt="">
        </div>
    </div>
    <div class="guanzhuRight">
        <div class="guanzhuRightSon">
            <div class="guanzhuRightSonTop">
                <img src="{IMG_URL}/header%20(6).jpg" alt="">
                <span>呆萌的老张看世界687</span>
                <span class="loveText">喜欢了文章</span>
                <span class="loveText">22分钟前</span>
            </div>
            <h4><a href="">疯子不一定是画家，但画家也许是“疯子”﻿</a></h4>
            <p>文／晖宗 赏绘画，读故事，晖宗聊绘画又和大家见面了。有时我们会谈论一些精神有问题的艺术家，比如西方的凡高，中国的徐渭。 觉得他们之所以能画出那么好的绘画，是因为他们的精神状况...</p>
            <h6>晖宗聊绘画</h6>
            <div class="iconfont icon-remen"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-pinglun"></div>
            <h6 class="num">100</h6>
            <div class="iconfont icon-xihuan"></div>
            <h6 class="num">100</h6>
            <img src="{IMG_URL}/header%20(4).jpg" class="rightImg" alt="">
        </div>
    </div>
</main>
</body>
</html>