{include file=$header}
    <link rel="stylesheet" href="{CSS_URL}/header.css">
    <link rel="stylesheet" href="{CSS_URL}/self.css">
    <link rel="stylesheet" href="{CSS_URL}/write.css">
    <script src="{JS_URL}/jquery-3.2.1.js"></script>
<main>
    <div class="headBox"></div>
    <div class="list">
        <ul>
            <li>
                <div class="imgBox1 glyphicon glyphicon-user">
                    <!--<img src="{IMG_URL}/iconfont/own.png" alt="">-->
                </div>
                <span>基础设置</span>
            </li>
            <li>
                <div class="imgBox1 ">
                    <img src="{IMG_URL}/iconfont/renzheng.png" alt="">
                </div>
                <span>个人文章查询</span>
            </li>
            <li>
                <div class="imgBox1">
                    <img src="{IMG_URL}/iconfont/eyey.png" alt="">
                </div>
                <span>个人留言查询</span>
            </li>
            <li>
                <div class="imgBox1">
                    <img src="{IMG_URL}/iconfont/shezhi.png" alt="">
                </div>
                <span>点赞收藏查询</span>
            </li>
            <li>
                <div class="imgBox1">
                    <img src="{IMG_URL}/iconfont/love.png" alt="">
                </div>
                <span>文章内容发布</span>
            </li>
            <li>
                <div class="imgBox1">
                    <img src="{IMG_URL}/iconfont/list.png" alt="">
                </div>
                <span>我的购物车</span>
            </li>
            <li>
                <div class="imgBox1">
                    <img src="{IMG_URL}/iconfont/money.png" alt="">
                </div>
                <span>我的账户</span>
            </li>
        </ul>
    </div>
    <div class="selfCon">
        <div class="headImg">
            <img src="{IMG_URL}/header%20(4).jpg" alt="">
            <div class="change">更改头像</div>
        </div>
        <form action="">
            <ul class="ul">
                <li class="li">
                    <div class="liLeft">昵称</div>
                    <input type="text" placeholder="请输入昵称">
                </li>
                <li class="li">
                    <div class="liLeft">旧密码</div>
                    <input type="password" placeholder="请输入旧密码">
                </li>
                <li class="li">
                    <div class="liLeft">新密码</div>
                    <input type="password" placeholder="请输入新密码">
                </li>
            </ul>
            <input type="submit" value="保存">
        </form>
    </div>
</main>
</body>
</html>